# Credit Data Analysis

* 해당 파일은 Jupyter Notebook으로 작성되었습니다.
* 필요에 따라 colab도 사용할 예정입니다.

## 일단은 test 용입니다.

```python
print("코드도 잘 들어가는지?")
```

## Finace-datareader 라이브러리 설치
* https://github.com/FinanceData/FinanceDataReader 참고

In [1]:
print("hello world!")

hello world!

In [2]:
#finance-datareader 라이브러리 설치
!pip install -U finance-datareader

Requirement already satisfied: finance-datareader in c:\users\drimsys\anaconda3\lib\site-packages (0.9.31)
Requirement already satisfied: requests>=2.3.0 in c:\users\drimsys\anaconda3\lib\site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: requests-file in c:\users\drimsys\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in c:\users\drimsys\anaconda3\lib\site-packages (from finance-datareader) (1.2.4)
Requirement already satisfied: lxml in c:\users\drimsys\anaconda3\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: tqdm in c:\users\drimsys\anaconda3\lib\site-packages (from finance-datareader) (4.59.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\drimsys\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\drimsys\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\drimsys\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\drimsys\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\drimsys\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\drimsys\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\drimsys\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\drimsys\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)

## FinaceDataReader로 데이터 불러오기
* 005930(삼성전자)의 모든 주가를 확인
* 전체 기간 : 1997~

In [3]:
import FinanceDataReader as fdr
df = fdr.DataReader('005930')
df

             Open   High    Low  Close    Volume    Change
Date
1997-09-29   1143   1172   1143   1162     48510       NaN
1997-09-30   1161   1195   1161   1188     63170  0.022375
1997-10-01   1186   1188   1172   1172     44120 -0.013468
1997-10-02   1170   1188   1161   1169     47950 -0.002560
1997-10-04   1168   1197   1159   1197     29560  0.023952
...           ...    ...    ...    ...       ...       ...
2021-10-19  70800  71000  70400  70600   9507991  0.005698
2021-10-20  70700  71000  70200  70300  10151638 -0.004249
2021-10-21  70300  70600  70000  70200  10891094 -0.001422
2021-10-22  70000  70700  70000  70400   8395448  0.002849
2021-10-25  69900  70600  69500  70300   8090791 -0.001420

[6000 rows x 6 columns]